body{
widht:80%;
margin: 0 auto;
margin-top: 50px;
background-color: blueviolet;
fount-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



}

.header{
text-align: center;
font-size: 50px;}

.row{
padding-bottom: 50px;
}

